/* Asciidoctor default stylesheet | MIT License | http://asciidoctor.org */

@import "https://fonts.googleapis.com/css?family=Noto+Sans:300,600italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";
@import "asciidoctor.css"; /* Default asciidoc style framework - important */

/* CUSTOMISATIONS */

h1{color:#2c3e50 !important;}
h2{color:#ba3925 !important;}
h3{color:#ba3925 !important;}
h4{color:#2c3e50 !important;}
.title{color:#186d7a !important; font-family:"Noto Sans",sans-serif !important;font-style: normal !important; font-weight: normal !important;}
p{font-family: "Noto Sans",sans-serif ! important}
