/* Asciidoctor default stylesheet | MIT License | http://asciidoctor.org */

@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans);
@import "asciidoctor.css"; /* Default asciidoc style framework - important */

/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */
:root{
--maincolor:#FFFFFF;
--primarycolor:#294172; /* Fedora Dark Blue */
--secondarycolor:#3c6eb4; /* Fedora Blue */
--tertiarycolor:#CCCCCC;
--highlightcolor:#e59728; /* Features Orange */
--sidebarbackground:#CACACA;
--linkcolor:#0D47A1;
--linkcoloralternate:#db3279; /* Friends Magneta */
--white:#FFFFFF;
--black:#000000;
}

/* Text styles */

body{font-family: "Open Sans",sans-serif;background-color: var(--maincolor);color:var(--black);}

h1{color:var(--primarycolor) !important;font-family:"Montserrat",sans-serif;}
h2,h3,h4,h5,h6{color:var(--secondarycolor) !important;font-family:"Montserrat",sans-serif;}
.title{color:var(--black) !important;font-family:"Open Sans",sans-serif;font-style: normal; font-weight: normal;}
a{text-decoration: none;}
p{font-family: "Open Sans",sans-serif ! important}
#toc.toc2 a:link{color:var(--linkcolor);}
blockquote{color:var(--linkcoloralternate) !important}
.quoteblock blockquote:before{color:var(--linkcoloralternate)}
code{color:var(--white);background-color: var(--highlightcolor) !important}
mark{background-color: var(--highlightcolor)} /* Text highlighting color */

/* Table styles */
th{background-color: var(--maincolor);color:var(--black) !important;}
td{background-color: var(--maincolor);color: var(--black) !important}


#toc.toc2{background-color:var(--sidebarbackground);}
#toctitle{color:var(--white);}

/* Responsiveness fixes */
video {
  max-width: 100%;
}

@media all and (max-width: 600px) {
table {
  width: 55vw!important;
  font-size: 3vw;
}
