/* Asciidoctor default stylesheet | MIT License | http://asciidoctor.org */

@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro|UnifrakturMaguntia|Source+Sans+Pro);
@import "css/asciidoctor.css"; /* Default asciidoc style framework - important */

/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */
:root{
--maincolor:#FFFFFF;
--primarycolor:#000000;
--secondarycolor:#AAAAAA;
--tertiarycolor:#CCCCCC;
--sidebarbackground:#FFFFFF;
--linkcolor:#0D47A1;
--linkcoloralternate:#B71C1C;
--white:#FFFFFF;
--black:#000000;
}

/* Text styles */

body{font-family: "Source Serif Pro",sans-serif;background-color: var(--maincolor);color:var(--black);}

h1{color:var(--primarycolor) !important;font-family:"UnifrakturMaguntia",serif;}
h2,h3,h4,h5,h6{color:var(--primarycolor) !important;font-family:"Source Sans Pro",sans-serif; font-weight: bold;}
.title{color:var(--black) !important;font-family:"Source Serif Pro",serif;font-style: normal; font-weight: normal;}
a{text-decoration: none;}
p{font-family: "Source Serif Pro",serif ! important}
#toc.toc2 a:link{color:var(--linkcolor); font-family: "Source Serif Pro",serif;}
blockquote{color:var(--secondarycolor) !important}
.quoteblock{color:var(--black)}
.quoteblock blockquote:before{color:var(--black)}
code{color:var(--white);background-color: var(--secondarycolor) !important}
mark{background-color: var(--tertiarycolor)} /* Text highlighting color */

/* Table styles */
th{background-color: var(--maincolor);color:var(--black) !important;}
td{background-color: var(--maincolor);color: var(--black) !important}


#toc.toc2{background-color:var(--sidebarbackground);}
#toctitle{color:var(--black); font-family: "Source Sans Pro",serif;font-weight: bold;}
