/* Asciidoctor default stylesheet | MIT License | http://asciidoctor.org */

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import "asciidoctor.css"; /* Default asciidoc style framework - important */

/* CUSTOMISATIONS */

body{font-family: "Noto Sans",sans-serif;}

#header{background-color:#009688; padding:25px;max-width: none;}
#footer{background-color: #004d40;}
h1,h2{background-color:#009688;color:white !important;font-family:"Noto Sans",sans-serif;text-decoration:none;padding:10px;}
h3{color:#ba3925;}
h4{color:#2c3e50;}
.title{color:#004d40 !important;font-family:"Noto Sans",sans-serif;font-style: normal; font-weight: normal;}
p{font-family: "Noto Sans",sans-serif ! important}
#toc.toc2 a:link{color:white;}

/* Card styling */
.sect1{border-bottom:1px solid grey;border-radius:8px;}

/* Table styles */
th{background-color: #80cbc4;color:#FFFFFF;}

#toc.toc2{background-color:#004d40;color:white;}
#toc.toc2.a{color:white;}
#toctitle{color:white;font-size: 16px;}

#toc.toc2{background-color:#004d40;color:white;}
#toc.toc2.a{color:white;}
#toctitle{color:#E95420;}
