/* document body (contains all content) */
body {
  font-size: small;
}

/* document header (contains title etc) */
#header {
  width: 100%;
}

/* headings */
h1 {
  color: purple;
}
h2 {
  color: chartreuse;
}
h3 {
  color: coral;
}
h4 {
  color: darkcyan;
}
h5 {
  color: darkslategray;
}
h6 {
  color: olive;
}

/* Table of Contents sidebar */
#toc {
  background-color: plum!important;
  color: white;
  font-weight: bold;
}
/* title of the TOC */
#toctitle {
  color: white;
}
/* top-level entries in TOC */
.sectlevel1 {
  background-color: palegoldenrod;
}
/* second-level entries in TOC */
.sectlevel2 {
  background-color: palegreen;
}

/* main content window */
#content {
  background-color: lavender;
  color: navy;
}

/* plain paragraph text */
.paragraph {
  font-family: sans-serif;
}
p {
  font-family: sans-serif;
}

/* blockquote text */
.quoteblock {
  font-style: italic;
}
blockquote {
  font-style: italic;
}

/* the quotation mark itself (before the block) */
.quoteblock blockquote::before {
  color: blue;
}

/* blockquote attribution text */
.attribution {
  font-size: x-large;
}

/* blockquote citation (work where quote cited) */
cite {
  font-size: x-large;
}

/* ordered list */
ol {
  color: red;
}
.olist {
  color: red;
}

/* unordered list */
ul {
  color: blue;
}
.ulist {
  color: blue;
}

/* links */
a {
  text-decoration: none;
}

/* bold text */
strong {
  color: green;
}

/* italic text */
em {
  color: orange;
}

/* underlined text */
u {
  color: yellow;
}

/* deleted text */
del {
  text-decoration: line-through;
  color: red;
}
/* inserted text */
ins {
  text-decoration: overline;
  color: green;
}

/* strikethrough text */
s {
  text-decoration-color: red;
}

/* superscript text */
sup {}
/* subscript text */
sub {}

/* small text */
small {}

/* highlighted text */
mark {}

/* horizontal rules */
hr {}

/* table */
table {}
/* table caption */
caption {}
/* table header row */
thead {}
/* table header cell */
th {}
/* table row */
tr {}
/* table footer */
tfoot {}
/* table cell */
td {}
/* table body */
tbody {}

/* inline code */
code {
  background-color: papayawhip!important;
}
/* pre-formatted text */
pre {
  background-color: burlywood!important;
}
.literalblock {
  background-color: burlywood!important;
}

/* image */
img {
  max-width: 100%;
}
/* image caption */
.imageblock .title {
  font-weight: bold!important;
}

/* audio */
audio {}
/* video */
video {}

/* footer section */
#footer {
  background-color: gray;
  color: red;
}
/* footer text (by default contains time of last document update) */
#footer-text {
  font-weight: bold;
  color: white;
}

/* Responsiveness fixes */
video {
  max-width: 100%;
}

@media all and (max-width: 600px) {
table {
  width: 55vw!important;
  font-size: 3vw;
}
